@theme {
	/* Stripe "Blurple" & Accents */
	--color-primary: #635bff;
	--color-primary-hover: #0a2540;
	--color-primary-light: #f3f3ff;

	--color-page: var(--bg-page);
	--color-surface: var(--bg-surface);
	--color-subtle: var(--bg-subtle);

	--color-main: var(--text-main);
	--color-muted: var(--text-muted);
	--color-border: var(--border);
	--color-border-hover: var(--border-hover);

	--color-danger: #df1b41;
	--color-danger-light: #fbeaee;
	--color-success: #00d924;
	--color-success-light: #e6fbea;

	--radius-lg: 16px;
	--radius-md: 10px;
	--radius-sm: 6px;

	--shadow-stripe:
		0 2px 5px -1px rgba(50, 50, 93, 0.05),
		0 1px 3px -1px rgba(0, 0, 0, 0.05);
}

:root {
	--bg-page: #f6f9fc;
	--bg-surface: #ffffff;
	--bg-subtle: #f6f9fc;
	--text-main: #0a2540;
	--text-muted: #425466;
	--border: #e6ebf1;
	--border-hover: #d3dce6;
	--input-h: 44px;
}

[data-theme="dark"] {
	--bg-page: #0b0f19;
	--bg-surface: #141a28;
	--bg-subtle: #1c2438;
	--text-main: #ffffff;
	--text-muted: #8f9cb5;
	--border: #2a3447;
	--border-hover: #3e4c66;
}
